body{

  background-color: black;
  margin-left: 30%;
  margin-right: 30%;
  color: white;
  font-family: arial;

}

p,
label {
    font: 1rem ;
}

input {
    margin: .4rem;
}

hr{

  color: rgb(255, 255, 255);

}